@charset "UTF-8";

/* para esconder/exibir o menu quando a tela diminuir/aumentar */
@media screen and (min-width: 768px) {
    #burger {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 768px;
    }
}